.par{
   width: 300px;
   font-family: Arial;
   inset-block: 20px;

}
.but1,.but2{
   font-family: Arial;
}
.g-logo{
padding-bottom: 0px;
margin-bottom: -80px;
height: 300px;
width: 300px;

}
.sear{
   margin-top: -70px;
   padding-top: 0px;
    width: 450px;
   height: 40px;
   font-family: Arial;
   border-block-color: rgb(0, 255, 225);
   background-color: white;
  border-end-end-radius: 50px 20px;
   border-radius: 30px;
   border-color: rgb(187, 187, 25);
   font-size: medium;
   
   
}

.first-name2{
   width: 180px;
   height: 40px;
   border-radius: 8px;
   font-family: Arial;
   font-size: medium;


}
.first-name{
   width: 180px;
   height: 40px;
   border-radius: 8px;
   font-family: Arial;
   font-size: medium;
   
   color: black;

}
.email{
   width: 363px;
   height: 40px;
   border-radius: 8px;
   font-family: Arial;
   font-size: medium;
   box-shadow: inset;
   color: black;
}
.sign-up{
   width: 363px;
   height: 40px;
   border-radius: 10px;
   font-family: Arial;
   font-size: large;
   border-color: rgb(18, 25, 123);
   background-color: blue;
   color: aliceblue;

}
.pick{

   width: 353px;
   height: 40px;
   font-family: Arial;
   font-size: medium;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-color: whitesmoke;
  padding-left: 20px;
  border-radius: 2px;
}



.des{
  
   width: 353px;
   height: 40px;
   font-family: Arial;
   font-size: medium;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-color: whitesmoke;
  padding-left: 20px;
  border-radius: 2px;

}
.req{
   width: 180px;
   height: 40px;
   font-family: Arial;
   font-size: medium;
   color: white;
   margin-right: 11px;
   border-radius: 4px;
   background-color: rgb(65, 49, 49);
}
.sch{
   width: 180px;
   height: 40px;
   font-family: Arial;
   font-size: medium;
}
 .div {
   width:100px;
   height:100px;
   background-color:rgb(128, 0, 6); 
      }

  .div2{
   width: 100px;
   height: 100px;
   background-color: green;
   border-radius: 50px;
   margin-top: 20px;
   
  }    
  .div3{
   width: 300px;
   height: 100px;
   background-color: antiquewhite;
   margin-top: 50px;
   font-size: large;
   padding-top: 10px;
   border-color: brown;
   border-style: solid;

}
.div4{
   width: 400px;
   height: 120px;
   background-color: rgb(14, 14, 5);
   border-style: solid;
   display: inline-block;
   font-family: Arial;
   margin-right: 20px;
 margin-top: 10px;  

}
.pa1{
font-size: 26px;
 
 color: white;
 padding-right: 120px;
 

 }
.pa2{
color: antiquewhite;
width:390px ;
padding-right: 60px;

font-size:smaller;
}
.div5{
   background-color: rgb(195, 195, 195);
   width: 460px;
   height: 160px;
   margin-top: 50px;  
}
.img{
   display: inline-block;
}

